# Lingkungan Virtual (Virtual Environment)
venv/
env/
.env

# File sistem sementara (Cache) Python
__pycache__/
*.py[cod]
*$py.class

# Folder penyimpanan gambar sementara di proyek kita
# (Kita tidak ingin gambar-gambar uji coba ikut ter-upload ke GitHub)
temp_uploads/
temp_outputs/

# Konfigurasi IDE / Editor teks
.vscode/
.idea/

# File sistem operasi (Khusus macOS atau Windows)
.DS_Store
Thumbs.db